# Public environment name for the frontend app.
NEXT_PUBLIC_APP_ENV=development

# Public URL where the frontend runs locally.
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Public base URL for the backend API.
NEXT_PUBLIC_API_BASE_URL=https://localhost:7235